@model IEnumerable<Book>

@{
    ViewBag.Title = "Book index";
}

<div class="card-deck app-justify-content-evenly">
    @foreach (var book in @Model)
    {
        var PhotoPath = "~/images/" + (book.PhotoUniqueName ?? "noimage.png");

        <div class="card app-card--shadow app-card--width mt-3">
            <div class="card-body d-flex flex-column justify-content-end">
                <img class="card-img-top w-100" src="@PhotoPath" alt="Book cover" asp-append-version="true" />

                <h5 class="card-title font-weight-normal mt-2">@book.Title</h5>
                <p class="card-text mb-2">@book.Author</p>
                <h5 class="card-text">@($"{book.Price:C2}")</h5>
            </div>

            <div class="card-footer text-center">
                <a asp-controller="book" asp-action="details" asp-route-id="@book.Id" class="btn btn-secondary">Details</a>
                <a asp-controller="book" asp-action="edit" asp-route-id="@book.Id" class="btn btn-primary m-1">Edit</a>
                <a asp-controller="book" asp-action="delete" asp-route-id="@book.Id" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
