@model IEnumerable<CartItem>

@{
    ViewData["Title"] = "Cart index";
}

<h3 class="font-weight-normal mb-3 pt-2">Shopping cart</h3>

@{
    //TODO: Check responsiveness of the table
}
<table class="table border-bottom w-auto">
    <thead>
        <tr class="bg-light">
            <th class="border-bottom-0"></th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Book.Title)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
            </th>
            <th class="border-bottom-0">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Book.Price)
            </th>
            <th class="border-bottom-0"></th>
        </tr>
    </thead>

    <tbody>
        @{
            decimal totalPrice = 0;

            foreach (var item in Model)
            {

                decimal orderItemPrice = item.Book.Price * item.Quantity;
                totalPrice += orderItemPrice;
                var photoPath = "~/images/" + (item.Book.PhotoUniqueName ?? "noimage.png");

                <tr>
                    <td class="align-middle text-right">
                        <img src=@photoPath style="height:100px" asp-append-version="true" alt="Book cover" />
                    </td>
                    <td class="align-middle"> @item.Book.Title </td>
                    <td class="align-middle text-center"> @item.Quantity </td>
                    <td class="align-middle text-center"> @($"{orderItemPrice:C2}")</td>
                    <td class="align-middle">
                        <div class="d-flex">
                            <a asp-action="AddToCart" asp-route-id="@item.Book.Id" class="btn btn-secondary mr-2">Add</a>
                            <a asp-action="RemoveFromCart" asp-route-id="@item.Book.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            <tr class="bg-light">
                <td></td>
                <td></td>
                <td><strong>Total price:</strong></td>
                <td><strong>@($"{totalPrice:C2}")</strong></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex">
    <a asp-controller="Book" asp-action="Index" class="btn btn-secondary mr-2">Back to shopping</a>
    <a asp-controller="#" asp-action="#" class="btn btn-success">Submit your order</a>
</div>
